@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
html {
  scroll-behavior: smooth;
  height: 100%;
  max-height: 100vh;
}

body {
  font-size: 16px;
  height: 100%;
  max-height: 100vh;
  background-color: #000000;
}
* {
  /* color: #030852; */
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
  outline: none;
  box-sizing: border-box !important;
}
/* .slick-slide {
  transition: transform 0.2s ease-in-out;
}
.slick-active {
  transform: scale(1.2);
}
.slick-current {
  transform: scale(1.5);
} */
